<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>

<% if params[:query] %>
  <% if @results.empty? %>
    <div class="no-results">
      <p>Sorry, no matches were found.</p>
    </div>
  <% else %>
      <div class='results'>
        <h2 class="content-subhead">Results for '<%= params[:query]%>'</h2>

          <ul class='result-block'>
            <% @results.each do |result| %>
              <% result[:paragraphs].each do |index, text| %>
                <li>
                  <h4 class='chapter-title'>
                    <a href="/chapter/<%= result[:number] %>#paragraph<%= index %>">
                      <%= result[:name] %>
                    </a>
                  </h4>
                  <p id="#paragraph<%= index %>"><%= highlight(text, params[:query]) %></p>
                </li>
              <% end %>
            <% end %>
          </ul>
      </div>
  <% end %>
<% end %>